<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>AppSystemeAgence</display-name>
	
	<!-- Déclarer le listener pour charger le context Spring IoC -->
	<listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Déclaration de la servlet de Spring MVC -->
	<servlet>
	<servlet-name>mvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	
	<!-- Mapping de la servlet -->
	<servlet-mapping>
		<servlet-name>mvc</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>